@import "all";
@import "../mixins/adaptation";

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;


  & > .header-top {
    background-image: linear-gradient(to right, #999999, #666666);
    height: 35px;

    .header-top-icons {
      width: 20%;

      img {
        margin: 0 8px;
        width: 32px;
        height: 32px;
      }
    }
    .header-top-languages {
      width: 20%;

      > a, span {
        margin: 0 12px;
      }
      > span {
        color: $dark;
      }
      > a {
        color: $white;
      }
    }
    .header-top-phones {
      width: 25%;

      > a {
        color: $white;
        font-weight: 300;

        > span {
          font-weight: 600;
        }
      }
      > a:hover {
        text-decoration: none;
      }
    }
    .header-top-buttons {
      width: 30%;
      height: 100%;

      .header-top-buttons-wrapper {
        transform: skewX(-30deg);
        background-color: $green;

        .header-top-buttons-wrapper-inner {
          transform: skewX(30deg);
          > a {
            padding: 0 32px;
            color: $white;
          }
        }
      }
      .header-top-buttons-wrapper:nth-child(2) {
        transform: skewX(-30deg);
        background: $dark;
      }
    }
    .header-top-search {
      width: 5%;

      > img {
        width: 25%;
        height: auto;
      }
    }
  }

  & > .header-bottom {
    background-color: $white;

    .header-bottom-logo {
      width: 20%;
    }
    .header-bottom-menu {
      width: 70%;

      & > .header-bottom-menu-wrapper {
        display: flex;
        justify-content: space-between;
        > li {
          list-style: none;
          padding: 32px 0;
          > a {
            padding: 26px 0;
            font-size: 17px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.56;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            transition: 0.2s;
          }
          > a:hover {
            text-decoration: none;
            border-bottom: 7px solid $green;
          }
        }
      }
    }
  }
}